.hero {
  align-items: center;
  gap: 2rem;
}

.hero-header {
  align-items: center;
  text-align: center;
}

.hero-sub-header {
  border: 1px solid #8383832e;
  padding: 1rem;
  background-color: #fff;
  color: #515151;
  line-height: 1.5rem;
  text-align: center;
}

.hero-venue {
  margin: 0 1rem;
  text-align: center;
}

.hero-venue_date {
  font-weight: 700;
  color: #767676;
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.hero-venue_email {
  color: #5f5f5f;
  font-weight: 700;
  text-decoration: underline;
}

.hero-venue_email:hover {
  color: #ec5242;
}

.hero-header_border .border {
  display: none;
}

.info {
  padding: 3rem 1.5rem;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.info-content_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  line-height: 2rem;
  text-align: center;
}

.info-content_text {
  text-align: center;
  color: #515151;
  line-height: 1.5rem;
}

.info-content_img {
  border: 1px solid #8383832e;
  width: 100%;
  padding: 2.5rem;
  text-align: center;
}

.info-content_img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ec5342c8;
  border-radius: 0.5rem;
}

/* desktop styles */
@media screen and (min-width: 768px) {
  .hero-sub-header {
    max-width: 80%;
    padding: 1.5rem 3rem;
  }

  .hero-header_border {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .hero-header_border .border {
    display: block;
  }

  .info-content_text,
  .prev-event_txt {
    max-width: 60%;
  }

  .info-content_img {
    max-width: 40%;
  }
}
